## Lesson 5 - Logic, Loops, Lists, Tuples, and Dictionaries

* Shaw Exercises 27-39
* Lutz Chapters 8-13

### Logic

#### Boolean Operations -- and, or, not

These are the Boolean operations, ordered by ascending priority:

Operation |	Result	 
----------|-------
x or y	  |  if x is false, then y, else x       
x and y	  |  if x is false, then x, else y        
not x	  |  if x is false, then True, else False


#### Comparisons

Comparison operations are supported by all objects. They all have the same priority (which is higher than that of the Boolean operations). Comparisons can be chained arbitrarily; for example, `x < y <= z` is equivalent to `x < y and y <= z`, except that `y` is evaluated only once (but in both cases `z` is not evaluated at all when `x < y` is found to be false).

This table summarizes the comparison operations:

Operation | Meaning
----------|--------
<	      | strictly less than	
<=	      | less than or equal	
>	      | strictly greater than	
>=	      | greater than or equal	
==	      | equal	
!=	      | not equal
is	      | object identity	
is not	  | negated object identity

In [101]:
x1 = 'Foo'
x2 = [1,2,3]
x3 = (1,2,3)
x4 = {'a':1,'b':2,'c':3}
print(x1[1])
print(x2[1])
print(x3[1])
print(x4['a'])

x2.append(4)
print(x2)
x3.count(2)
x4['d']=4
x4

o
2
2
1
[1, 2, 3, 4]

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
(2 == 1 + 1) and ('ab' == 'a' + 'b')

True

In [2]:
(5 > 4) or (2 < 1)

True

In [3]:
'aa' is 'aa'

True

In [4]:
5 is 5.0

False

In [5]:
5 == 5.0

True

In [6]:
5 != 5.0

False

### Loops

#### if Tests

	if <test1>:                 # if test
	    <statements1>           # Associated block
	elif <test2>:               # Optional elifs
	    <statements2>
	else:                       # Optional else
	    <statements3>

#### while Loops

	while <test>:               # Loop test
	        <statements1>       # Loop body
	    else:                   # Optional else
	        <statements2>       # Run if didn't exit loop with break
	
	while <test1>:
	    <statements1>
	    if <test2>: break       # Exit loop now, skip else
	    if <test3>: continue    # Go to top of loop now, to test1
	else:
	    <statements2>           # Run if we didn't hit a 'break'
	
	break -- Jumps out of the closest enclosing loop (past the entire loop 
	  statement).
	continue -- Jumps to the top of the closest enclosing loop (to the loop’s 
	  header line).
	pass -- Does nothing at all: it’s an empty statement placeholder.
	else (loop block) -- Runs if and only if the loop is exited normally 
	  (i.e., without hitting a break).

#### for Loops

	for <target> in <object>:   # Assign object items to target
	    <statements>            # Repeated loop body: use target
	else:
	    <statements>            # If we didn't hit a 'break'
	
	for <target> in <object>:   # Assign object items to target
	    <statements>
	    if <test>: break        # Exit loop now, skip else
	    if <test>: continue     # Go to top of loop now
	else:
	    <statements>            # If we didn't hit a 'break'

In [64]:
for i in range(5):
    if i in [1, 2]:
        print("It's 1 or 2.")
    elif i in [3, 4]:
        print("It's 3 or 4.")
    else:
        print("It must be 0.")
        #break

It must be 0.
It's 1 or 2.
It's 1 or 2.
It's 3 or 4.
It's 3 or 4.

In [8]:
j = 0
while j < 5:
    print(j)
    j += 1
    #if j == 4:
        #break
else:
    print('All done.')

0
1
2
3
4
All done.

### Lists

In [9]:
# A list of three different-type objects 
L = [123, 'spam', 1.23]
L

[123, 'spam', 1.23]

In [10]:
# Number of items in the list
len(L)

3

In [11]:
# Indexing by position
L[0]

123

In [12]:
# Slicing a list returns a new list
L[:-1]

[123, 'spam']

In [13]:
# Concatenation makes a new list too
L + [4, 5, 6]

[123, 'spam', 1.23, 4, 5, 6]

In [14]:
# We're not changing the original list
L

[123, 'spam', 1.23]

In [15]:
# Growing: add object at end of list
L.append('NI') 
L

[123, 'spam', 1.23, 'NI']

In [16]:
# Shrinking: delete an item in the middle
L.pop(2)

1.23

In [17]:
L

[123, 'spam', 'NI']

In [18]:
M = ['bb', 'aa', 'cc']

In [19]:
M

['bb', 'aa', 'cc']

In [20]:
M.sort()

In [21]:
M

['aa', 'bb', 'cc']

In [22]:
M.reverse()

In [23]:
M

['cc', 'bb', 'aa']

In [24]:
# Nested lists
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [25]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
M[1]

[4, 5, 6]

In [27]:
M[1][2]

6

#### More list indexing

In [28]:
x = list(range(10))

In [29]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
x[0:5]

[0, 1, 2, 3, 4]

In [31]:
x[:5]

[0, 1, 2, 3, 4]

In [32]:
x[-5:]

[5, 6, 7, 8, 9]

In [33]:
x[2:5]

[2, 3, 4]

#### List comprehension (with for loops)

In [34]:
# Collect the items in column 2
col2 = [row[1] for row in M]

In [35]:
col2

[2, 5, 8]

In [36]:
M2 = [row[1] + 1 for row in M] # Add 1 to each item in column 2

In [37]:
M2

[3, 6, 9]

In [38]:
# Filter out odd items
M3 = [row[1] for row in M if row[1] % 2 == 0]

In [39]:
M3

[2, 8]

In [40]:
# Collect a diagonal from matrix
diag = [M[i][i] for i in [0, 1, 2]]

In [41]:
diag

[1, 5, 9]

In [42]:
doubles = [c * 2 for c in 'spam']

In [43]:
doubles

['ss', 'pp', 'aa', 'mm']

In [44]:
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]

In [45]:
squares

[1, 4, 9, 16, 25]

In [46]:
# For loop version of above list comprehension
squares = []
for x in [1, 2, 3, 4, 5]:
    squares.append(x ** 2)

In [47]:
squares

[1, 4, 9, 16, 25]

### Tuples

In [48]:
# Tuples are immutable lists
T = (1, 2, 3, 4)

In [49]:
T

(1, 2, 3, 4)

In [50]:
len(T)

4

In [51]:
T + (5, 6)

(1, 2, 3, 4, 5, 6)

In [52]:
T[0]

1

In [53]:
# Try to assign to a tuple
#T[0] = 2

### Dictionaries

In [54]:
# Keys and values
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [55]:
D

{'color': 'pink', 'food': 'Spam', 'quantity': 4}

In [56]:
# Fetch value of key 'food'
D['food']

'Spam'

In [57]:
# Add 1 to 'quantity' value
D['quantity'] += 1

In [58]:
D

{'color': 'pink', 'food': 'Spam', 'quantity': 5}

In [59]:
D = {}

In [60]:
# Create keys by assignment
D['name'] = 'Bob'
D['job'] = 'dev'
D['age'] = 40

In [61]:
D

{'age': 40, 'job': 'dev', 'name': 'Bob'}

In [62]:
D['name']

'Bob'

In [63]:
# Nested dictionaries
rec = {'name': {'first': 'Bob', 'last': 'Smith'}, 
       'job': ['dev', 'mgr'],
       'age': 40.5}

In [64]:
rec

{'age': 40.5, 'job': ['dev', 'mgr'], 'name': {'first': 'Bob', 'last': 'Smith'}}

In [65]:
# 'name' is a nested dictionary
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [66]:
# Index the nested dictionary
rec['name']['last']

'Smith'

In [67]:
# 'job' is a nested list
rec['job']

['dev', 'mgr']

In [68]:
# Index the nested list
rec['job'][-1]

'mgr'

In [69]:
# Expand the job description in place
rec['job'].append('janitor')

In [70]:
rec

{'age': 40.5,
 'job': ['dev', 'mgr', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'}}

In [71]:
# Sorting keys with for loops
D = {}
D['a'] = 1
D['b'] = 2
D['c'] = 3
D['d'] = 4
D['e'] = 5

In [72]:
D

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [73]:
# iterate over dict keys (note the keys are not in insertion order)
for key in D:
    print(key,D[key])

d 4
e 5
a 1
b 2
c 3

In [74]:
# iterate over dict key-value pairs
for key, value in D.items():
    print(key,value)

d 4
e 5
a 1
b 2
c 3

In [75]:
# iterate over sorted dict keys (sorted alphabetically)
for key in sorted(D):
    print(key,D[key])

a 1
b 2
c 3
d 4
e 5

In [76]:
# Checking if key exists
D = {'a': 1, 'c': 3, 'b': 2}

In [77]:
D

{'a': 1, 'b': 2, 'c': 3}

In [78]:
D['e'] = 99

In [79]:
D

{'a': 1, 'b': 2, 'c': 3, 'e': 99}

In [80]:
'e' in D

True

In [81]:
'f' in D

False

In [82]:
if not 'f' in D:
    print('missing')

missing

In [83]:
# combine two lists into dictionary using dict(zip(list1, list2))

In [84]:
keys = ['name', 'job', 'zip_code', 'city']
values = ['Jon', 'student', '92037', 'La Jolla']

In [85]:
d = dict(zip(keys, values))

In [86]:
d

{'city': 'La Jolla', 'job': 'student', 'name': 'Jon', 'zip_code': '92037'}

### Other types

#### Sets

In [87]:
X = set('spam')
Y = set(['h', 'a', 'm'])

In [88]:
X

{'a', 'm', 'p', 's'}

In [89]:
Y

{'a', 'h', 'm'}

In [90]:
intersection = X & Y

In [91]:
intersection

{'a', 'm'}

In [92]:
union = X | Y

In [93]:
union

{'a', 'h', 'm', 'p', 's'}

In [94]:
difference = X - Y

In [95]:
difference

{'p', 's'}

#### Boolean

In [96]:
1 > 2, 1 < 2

(False, True)

In [97]:
bool('spam')

True

In [98]:
False + 1

1

In [99]:
True + 1

2

In [100]:
True == 1

True

In [101]:
True is 1

False

In [102]:
False == 0

True

In [103]:
False is 0

False

#### None

In [104]:
X = None

In [105]:
X

In [106]:
#None + 1

In [107]:
L = [None] * 10

In [108]:
L

[None, None, None, None, None, None, None, None, None, None]

In [109]:
type(L)

list

In [110]:
type(type(L))

type

In [19]:
from datetime import datetime

In [30]:
stamp1= datetime.now()

In [31]:
stamp2= datetime.now()

In [32]:
stamp2-stamp1

datetime.timedelta(0, 8, 802295)

In [33]:
leap = stamp2-stamp1

In [34]:
leap

datetime.timedelta(0, 8, 802295)

In [38]:
stamp1

datetime.datetime(2016, 10, 13, 13, 29, 53, 640817)

In [39]:
stamp2

datetime.datetime(2016, 10, 13, 13, 30, 2, 443112)

In [69]:
def Fibonacci(n):
    # Account for the index number in Python that start from 0
    if n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        return Fibonacci(n-2) + Fibonacci(n-1)

In [76]:
for i in range(6):
        if i == 0 or 1:
            temp = 1
        else:
            temp= temp[i-1]+temp[i-2]
print(temp,sep=',')

SyntaxError: invalid syntax (<ipython-input-76-56394a83fc2d>, line 1)

In [ ]:
class Fibonacci

In [ ]:
class fib:
    def __initl__